.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
coverage

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# skip tauri - rust uses rustfmt
src-tauri

# skip html causing DOCTYPE bug
src/app.html
